{% load i18n %}
{% load xadmin_tags %}
{% load crispy_forms_tags %}
<table class="table table-bordered table-striped table-hover">

    <thead>
      <tr>

        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                记录年月
            </div>

        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                客户名
            </div>

        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                身份证号
            </div>
        </th>

        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                本月积分
            </div>
        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                百富生活圈折扣
            </div>
        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                交易笔数
            </div>
        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                交易金额
            </div>
        </th>

        <th scope="col" class="sortable">

            <div class="dropdown pull-left">
                是否展示易拉宝
            </div>

        </th>
        <th scope="col" class="sortable">


            <div class="dropdown pull-left">
                是否按时还款
            </div>

        </th>


        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                账号
            </div>

        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                开户机构
            </div>

        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                开户机构号
            </div>
        </th>

        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                日均
            </div>
        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                总交易笔数
            </div>
        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                总交易金额
            </div>
        </th>
        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                缴纳利息
            </div>
        </th>

        <!--<th scope="col" class="sortable">-->

            <!--<div class="dropdown pull-left">-->
                <!--可用积分-->
            <!--</div>-->

        <!--</th>-->
        <!--<th scope="col" class="sortable">-->


            <!--<div class="dropdown pull-left">-->
                <!--本月消费积分-->
            <!--</div>-->

        <!--</th>-->

        <th scope="col" class="sortable">
            <div class="dropdown pull-left">
                积分消费详情
            </div>
        </th>

        <th scope="col" class="sortable">

            <div class="dropdown pull-left">
                是否清退
            </div>

        </th>
        <th scope="col" class="sortable">


            <div class="dropdown pull-left">
                投诉次数
            </div>

        </th>
      </tr>
    </thead>


    <tbody>
     {% for data in datalist %}
      <tr class="grid-item">


        <td>
            {{data.yearm}}

        </td>

        <td>


            {{data.cust_name}}

        </td>
<td>

{{data.icc_id}}

        </td>

        <td>

            {{data.nowm_acc}}

        </td>

        <td>

{{data.is_life}}


        </td>

        <td>


            {{data.jy_count}}

        </td>

        <td>


            {{data.jy_num}}

        </td>



        <td>

{% if data.is_show %}
     <i class="fa fa-check-circle text-success" alt="True"></i>
    {% else %}
            <i class="fa fa-times-circle text-error" alt="False"></i>
{% endif %}


        </td>

        <td>



{% if data.is_ontime %}
     <i class="fa fa-check-circle text-success" alt="True"></i>
    {% else %}
            <i class="fa fa-times-circle text-error" alt="False"></i>
{% endif %}
        </td>






            <td>
            {{data.con_num}}

        </td>

        <td>


            {{data.open_ins}}

        </td>
<td>

{{data.open_no}}

        </td>

        <td>

            {{data.day_avg}}

        </td>

        <td>

{{data.all_jy_count}}


        </td>

        <td>


            {{data.all_jy_num}}

        </td>

        <td>


            {{data.jnlx_num}}

        </td>



        <!--<td>-->

            <!--{{data.can_use_acc}}-->



        <!--</td>-->

        <!--<td>-->


            <!--{{data.used_acc}}-->

        <!--</td>-->

        <td>


            {{data.acc_detail}}

        </td>



        <td>

{% if data.is_quit %}
     <i class="fa fa-check-circle text-success" alt="True"></i>
    {% else %}
            <i class="fa fa-times-circle text-error" alt="False"></i>
{% endif %}


        </td>

        <td>


{{data.ts_count}}

        </td>

      </tr>
     {%endfor%}

    </tbody>

  </table>
<!--{% crispy form %}-->
<script>
    $(".edit-btn").hide();
</script>