<html>
<head>
    <script language="javascript">
        function printdiv(printpage) {
            var headstr = "<html><head><title></title></head><body>";
            var footstr = "</body>";
            var newstr = document.all.item(printpage).innerHTML;
            var oldstr = document.body.innerHTML;
            document.body.innerHTML = headstr + newstr + footstr;
            window.print();
            document.body.innerHTML = oldstr;
            return false;
        }
    </script>
    <title>贷款利率浮动值打印</title>


</head>

<body>
<!--//HTML Page-->
<!--//Other content you wouldn't like to print-->
<input align="right" name="b_print" type="button" class="ipt" onClick="printdiv('div_print');" value=" 打印 ">

<div id="div_print">

    <style type="text/css">
        body {

            font-family: "宋体";
        }

        .ksxz {
            font-size: 14px;
        }

        .zcsj {

            font-size: 16px;
        }

        .table tr td {
            border: 1px solid #000000;
            valign: "middle";
            /*vertical-align: top; *!*/
            vertical-align: middle;
        }

        .table tr {
            height: 80px;
            width: 100%
        }
    </style>
    {% if '不止一个人' in msg %}
    <h1 style="Color:Red">{{msg}}</h1>
    {% else %}
    <table hight="100%" width="100%">
        <tr>
            <td height="100">
                <table width="100%" height="100%" border="0" cellspacing="2">
                    <tr>
                        <td width="80%" align="center">

                            <table width="90%" height="100%" border="0"
                                   style="border-collapse:separate; border-spacing:20px 0px;">
                                <tr>
                                    <td width="80%">
                                        <h2 align="center">{{name}}贷款利率综合评分</h2>
                                        <br>
                                        <p>根据最近{{month}}月以来我行综合评分计算，{{name}}的贷款利率浮动值为：{{lilv}}</p>
                                        <p>参考数据如下：</p>
                                    </td>

                                </tr>
                                <!--<tr>-->
                                <!--<td>业务电话：</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td colspan="2">
                                        <table class="table" width="90%"
                                               style="border:1px solid #000000;border-collapse: collapse;vertical-align:middle ;">
                                            {% for item in datas%}
                                            <tr align="center">
                                                {% for it in item%}
                                                <td  style="vertical-align:middle ;">{{it}}</td>
                                                {%endfor%}
                                            </tr>
                                            {%endfor%}
                                        </table>
                                    </td>

                                </tr>
                                 <tr>
                                     <td></td>
                                    <td colspan="1" >
                                        {{formatted_today}}
                                    </td>
                                </tr>

                                 <tr>
                                     <td></td>
                                    <td colspan="1"  >

                                盖章
                                    </td>
                                </tr>
                            </table>

                        </td>


                    </tr>


                </table>
{%endif%}

</div>
<!--//Other content you wouldn't like to print-->
<!--//Other content you wouldn't like to print-->
</body>
<script>
    $(".modal-footer").hide();
</script>
</html